.imageBG {
  background-image: url('./../public/glassesImage/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.imageBG::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.content {
  text-align: center;
  position: relative;
  z-index: 2;
  width: 100%;
}

.content-title {
  background-color: black;
  color: white;
  padding: 25px 0;
  opacity: 0.4;
  width: 100%;
  z-index: 3;
}

.modal-image {
  position: relative;
  width: 300px;
}

.GlassOnModal{
  position: absolute;
  top: 26%;
  left: 25.25%;
}
